.headerWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    line-height: var(--header-height);
    /* padding: 5px 0; */
    font-size: 45px;
    background: repeat url("../../assets/header_back.webp");
    box-shadow: 0 15px 5px black;
    box-sizing: content-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 400px;
}

.pageName {
    box-sizing: border-box;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    height: calc(var(--header-height) - 10px);
    line-height: calc(var(--header-height) - 5px);
    width: 320px;
    background-color: var(--text-bgcolor);
    border: solid 3px var(--text-color);
    border-radius: 4px;
    flex-direction: row;
}

.pageName > img {
    margin-right: 5px;
    height:  calc(var(--header-height) - 20px);
}