.cell {
    min-width: 0;
    min-height: 0;

    border: none;
    border-radius: 0;

    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
    line-height: 15px;
}

.cell:hover {
    border: 1px solid red;
}

.cell:active {
    opacity: 0.5;
}

.cell:disabled {
    opacity: 0.3;
}